.coworking-container { padding: 20px; text-align: center; }

.plano-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 150px);  
  gap: 15px;
  max-width: 800px;
  margin: 30px auto;
}

.espacio-item {
  background-color: #ecf0f1;
  border: 2px solid #bdc3c7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.espacio-item:hover { background-color: #3498db; color: white; }
.no-disponible { background-color: #e74c3c; cursor: not-allowed; opacity: 0.6; }

/* MODAL */
.modal-overlay {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.5); display: flex; align-items: center; justify-content: center;
}
.modal-box { background: white; padding: 30px; border-radius: 12px; width: 300px; }
.modal-buttons { display: flex; justify-content: space-around; }
.btn-cancel { background: #95a5a6; color: white; border: none; padding: 5px 10px; border-radius: 4px;}

/* MESA RESERVADA*/
/* Estilo para mesa ya reservada en el plano */
.layout button.reservada {
    background-color: #D97B59 !important; 
    color: white;
    border: 2px solid #000;
}

.layout button.reservada p {
    color: #eee;
    font-weight: bold;
}